%main.main
  %h1
    %span#airbnb Airbnb
    世界にひとつの家を予</br>
    約。まるでローカルな街体</br>
    験。
  = form_tag(controller: :tops, action: :new) do
    .search_field
      =text_field_tag :location
      =text_field_tag :date
      =select_tag 'number_of_people', '<option>1</option><option>2</option>'.html_safe
      =button_tag '探す'
%footer.footer
  %img.logo_footer
  .corprate_name &copy;Airbnb,Inc.
