%ul.dropdown-menu{:role => "menu"}
  %li{:role => "presentation"}
    = link_to "プロフィールを編集", edit_user_registration_path
  %li{:role => "presentation"}
    %a{:href => "#"} アカウントの設定
  %li{:role => "presentation"}
    = link_to "ログアウト", destroy_user_session_path, method: :delete
