.subnav.hide-print
  .page-container-responsive
    %ul.subnav-list.list-inline
      %li.list-item
        %a.subnav-item ダッシュボード
      %li.list-item
        %a.subnav-item 実績データ
      %li.list-item
        %a.subnav-item 受信トレイ
      %li.list-item
        = link_to 'リスティング', rooms_path, class: 'subnav-item'
      %li.list-item
        = link_to 'ホストアシスト', host_resavations_path, class: 'subnav-item'
      %li.list-item
        %a.subnav-item 旅行
      %li.list-item
        = link_to 'ツアー一覧', tours_path, class: 'subnav-item'
      %li.list-item
        %a.subnav-item プロフィール
      %li.list-item
        %a.subnav-item アカウント
      %li.list-item
        %a.subnav-item 
