%main#site-content
  .row
    .col-md-7
      .site-content__left
        .space-5
          %h1.become-a-host さあ、#{current_user.first_name}さん！魅力的なリスティングに編集しましょう！
        .site-content__left__form
          %h3 お部屋の情報を編集しましょう！
          = render partial: 'rooms/shared/form', locals: { room: @room }
    .col-md-5
      =image_tag 'vase.gif'
