.container{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.border-bottom{
  border-bottom: solid;
  border-bottom-color: $border-gray;
  border-bottom-width: 1px;
}

.space-1{
  margin-bottom: 6px;
}

.space-2{
  margin-bottom: 12px;
}

.space-3{
  margin-bottom: 18px;
}

.space-4{
  margin-bottom: 24px;
}

.space-5{
  margin-bottom: 30px;
}

.space-top-1{
  margin-top: 6px;
}

.space-top-2{
  margin-top: 12px;
}

.space-top-3{
  margin-top: 18px;
}

.space-top-4{
  margin-top: 24px;
}

.space-top-5{
  margin-top: 30px;
}

.page-container-responsive{
  width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
