#site-content{
  max-width: 1310px;
  margin: 0 auto;
  .site-content__left{
    margin: 58px 93.5px 100px 100px;
  }
}

.space-5{
  margin-bottom: 30px;
}

.space-top-1{
  margin-top: 6px;
}

.space-top-2{
  margin-top: 12px;
}

.space-top-4{
  margin-top: 24px;
}

.space-top-5{
  margin-top: 30px;
}

.h5{
  font-size: 16px;
  font-weight: bold;
}



.delete-message{
  font-size: 14px;
  font-weight: 100;
}

.alert-block{
  height: 241px;
  width: 100%;
  z-index:1;
  background-color: #c2e4e7;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 25px 25px 25px 110px;
}

.site-content{
  .subnav{
    position: relative;
    background-color: #484848;
  }
}

.btn-host{
  border-color: #007a87;
  background-color: #007a87;
  color: #fff;
}

.page-container-responsive{
  width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.subnav-list{
  margin-left: -14px;
  margin-right: -14px;
  height: 40px;
  .list-item{
    margin-top: 10px;
    .subnav-item{
      color: #ddd;
      padding: 10px 14px;
    }
  }
}

.sidenav-list{
  list-style: none;
  padding-left: 2px;
    .sidenav-item{
      font-size: 16px;
      padding: 6px 0;
    }
}

.media-cover{
  border-style: solid;
}

.panel{
  border-color: #c4c4c4;
  .panel-header{
    font-size: 16px;
    padding: 7px 20px 7px;
    background-color: #edefed;
    .active-panel-padding{
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

.progress-bar__lean{
  height: 5px;
  .progress-bar__babu{
    background-color: #00a699;
  }
}

.text-babu{
  color: #00a699;
}

.col-middle{
  vertical-align: middle;
}

.btn__first-btn{
  border-color: #ff5a5f;
  background-color: #ff5a5f;
}

.btn__second-btn{
  border-color: #c4c4c4;
}

.btn__back-btn{
  border-color: #c4c4c4;
}

.add_delete{
  position: relative;
}

.delete_mark{
  font-size: 20px;
  position: absolute;
  top: 60px;
  right: 20px;
  height: 30px;
  display: none;
}
