.page-container{
  width: 1080px;
  margin: 30px auto 0;
}

.space-4{
  margin-bottom: 24px;
}

.space-2{
  margin-bottom: 12px;
}

.panel-show{
  width: 240px;
}

.panel-heading{
  color: #484848;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.panel-body{
  margin: 0;
  padding: 20px;
}

.user_show{
  h1{
    margin-top: 0;
  }
}

.report{
  h4{
    display: inline;
  }
}
