.container{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.header{
  height: 64px;
  img{
    margin-top: 10px;
  }
  a{
    height: 100%;
    padding: 20px 30px 0 0;
  }
}

.main{
  height: calc(100% - 96px);
  h1{
    height: 200px;
    width: 800px;
    font-size: 45px;
    margin: 50px 0 0 200px;
    #airbnb{
      color: #FF5A5F;
    }
  }
  .search_field{
    margin-left: 200px;
    input{
      height: 90px;
    }
  }
}

.footer{
  height: 32px;
  .corprate_name{
    text-align: center;
  }
}
